#header img{
  float:right;
  height:77px;
  width: 77px;
}
/*image size may change later, leaving a comment to denote that the difference should be about 20 pixels*/
.marginfix{
  margin-bottom:-57px;
}

#interests{
  background-color:#adcfda;
}
body{
  background-color:#c7e1f9;
  font-family:sans-serif;
}

#projects{
  background-color:#adcfda;
}

.container{
  margin-top:28px;
}
@media screen and (max-width: 768px)
{
  #header{
    margin-top:204px;
  }
}
