#header img{
  float:right;
  height:77px;
  width: 77px;
}

.marginfix{
  margin-bottom:-57px;
}

#interests{
  background-color:#adcfda;
}
body{
  background-color:#c7e1f9;
}

#projects{
  background-color:#aed0d1;
}
